.block_enroleasy .form-group {
    display: flex;
}

.block_enroleasy .form-group input[type="text"] {
    flex: 1 1 auto;
}

.block_enroleasy .easyenrol .form-inline .form-group .input-group {
    width: 100%;
}

.block_enroleasy .easyenrol {
    margin-bottom: 0;
}

.block_enroleasy .easyenrol #enrolform_course_code {
    font-size: 1rem;
}